<div class="header-specification-layout">
  <p class="normal-roboto-bold-14 mb-8 uppercase"><%=title%></p>
  <p class="divider box-shadow"></p>
  <p class="primary-roboto-light-8-12 mt-4">
    <span class="normal-garamond-light-8-12 uppercase mr-8">
      project code/name
    </span>
    <span class="mr-8"><%= project.code %></span>
    <span><%= project.name %></span>
  </p>
  <div class="primary-roboto-light-8-12">
    <span class="normal-garamond-light-8-12 uppercase mr-8">
      project location
    </span>
    <span class="mr-8"><%= project.address %></span>
    <span class="mr-8"><%= project.city_name %></span>
    <span class="mr-8"><%= project.country_name %></span>
    <span><%= project.postal_code %></span>
    <table width="100%">
      <tr>
        <td width="15%" class="normal-garamond-light-8-12 uppercase">
          <span>issued by</span>
        </td>
        <td width="35%" class="primary-roboto-light-8-12">
          <span><%= user.firstname %> <%= user.lastname %></span>
        </td>
        <td width="15%" class="normal-garamond-light-8-12 uppercase">
          <span>issued date</span>
        </td>
        <td width="35%" class="primary-roboto-light-8-12">
          <span><%= config.issuing_date %></span>
        </td>
      </tr>
      <tr>
        <td width="15%" class="normal-garamond-light-8-12 uppercase">
          <span>issued for</span>
        </td>
        <td width="35%" class="primary-roboto-light-8-12">
          <span><%= config.common_types.name %></span>
        </td>
        <td width="15%" class="normal-garamond-light-8-12 uppercase">
          <span>revision #</span>
        </td>
        <td width="35%" class="primary-roboto-light-8-12">
          <span><%= config.revision %></span>
        </td>
      </tr>
    </table>
    <p class="border-bottom-box-shadow mt-4 mb-16"></p>
  </div>
</div>
