<div class="general-specification-content">
    <table width="100%">
      <% data.forEach(function(item){ %>
        <tr>
            <td height="24" width="50%" class="normal-roboto-bold-8-18 bg-black" colspan="2">
              <span class="pdlr-8 color-white uppercase"><%= item.name %></span>
            </td>
        </tr>
        <% item.data.forEach(function(groupData){ %>
          <tr>
            <td class="primary-roboto-light-8-18 width-50-percent border-bottom-box-shadow">
              <span class="primary-roboto-bold-8-18"><%= groupData.product.brand.name %></span><br/>
              <span><%= groupData.location.address %></span><br/>
              <% if (groupData.location.country_id == '-1') { %>
                <span>GLOBAL</span>
              <% } else { %>
                <span>
                  <% if (groupData.location.city_name) { %>
                    <%= groupData.location.city_name %>,
                  <% } %>
                  <%= groupData.location.state_name %>
                </span><br/>
                <span>
                  <% if (groupData.location.country_name) { %>
                    <%= groupData.location.country_name %>,
                  <% } %>
                  <%= groupData.location.postal_code %></span><br/>
                <span><%= project.design_firm_official_website %></span>
              <% } %>

            </td>
            <td class="primary-roboto-light-8-18 width-50-percent border-bottom-box-shadow">
              <span class="primary-roboto-bold-8-18"></span><br/>
              <span>
                <span class="normal-garamond-light-8-18 uppercase mr-25">contact</span>
                <span class="primary-roboto-light-8-18"><%= groupData.location.contact.first_name === "N/A" &&  groupData.location.contact.last_name === "N/A" ? "N/A":groupData.location.contact.first_name + " "+groupData.location.contact.last_name  %></span>
              </span><br/>
              <span>
                <span class="normal-garamond-light-8-18 uppercase mr-13">work email</span>
                <span class="primary-roboto-light-8-18"><%= groupData.location.contact.work_email %></span>
              </span><br/>
              <span>
                <span class="normal-garamond-light-8-18 uppercase mr-10">work phone</span>
                <span class="primary-roboto-light-8-18">
                  <% if (groupData.location.contact.work_phone !== 'N/A') { %>
                    +<%= groupData.location.phone_code %>
                  <% } %>
                  <%= groupData.location.contact.work_phone %>
                </span>
              </span><br/>
              <span>
                <span class="normal-garamond-light-8-18 uppercase mr-8">work mobile</span>
                <span class="primary-roboto-light-8-18">
                  <% if (groupData.location.contact.work_mobile !== 'N/A') { %>
                    +<%= groupData.location.phone_code %>
                  <% } %>
                  <%= groupData.location.contact.work_mobile %>
                </span>
              </span><br/>
            </td>
          </tr>
        <% }) %>
      <% }) %>
    </table>
</div>
