<div class="general-specification-content">
  <table width="100%" class="dynamic-table">
    <tr>
      <td height="24" class="normal-roboto-bold-8-18 bg-black">
        <span class="pdlr-8 color-white uppercase">room id</span>
      </td>
      <td height="24" class="normal-roboto-bold-8-18 bg-black" width="40%">
        <span class="color-white uppercase">room name</span>
      </td>
      <td height="24" width="48" class="normal-roboto-bold-8-18 bg-black" style="text-align: center">
        <span class="color-white uppercase">size</span>
      </td>
      <td height="24" width="40" class="normal-roboto-bold-8-18 bg-black">
        <span class="color-white uppercase">unit</span>
      </td>
      <td height="24" class="normal-roboto-bold-8-18 bg-black" style="text-align: center">
        <span class="color-white uppercase">quantity</span>
      </td>
      <td height="24" class="normal-roboto-bold-8-18 bg-black">
        <span class="color-white uppercase">total</span>
      </td>
      <td height="24" width="24" class="normal-roboto-bold-8-18 bg-black">
        <span class="color-white uppercase">unit</span>
      </td>
    </tr>
    <% zones.data.forEach(function(zone, zoneIndex) { %>
      <tr>
        <td colspan="4" class="border-bottom-box-shadow-bold">
          <span class="primary-roboto-bold-8-18 uppercase"><%= zone.name %></span>
        </td>

        <td style="text-align: center" class="border-bottom-box-shadow-bold">
          <span class="normal-roboto-bold-8-18">Zone Total</span>
        </td>
        <td class="border-bottom-box-shadow-bold">
          <span class="primary-roboto-bold-8-18"><%= zone.total_size %></span>
        </td>
        <td class="border-bottom-box-shadow-bold">
          <span class="primary-roboto-bold-8-18">
            <% if (project.measurement_unit == 1) { %>
              sq.ft.
            <% } else { %>
              sq.m.
            <% } %>
          </span>
        </td>
      </tr>
      <% zone.areas.forEach(function(area, areaIndex) { %>
        <tr>
          <td colspan="7">
            <span class="primary-roboto-bold-8-18 bold-400"><%= area.name %></span>
          </td>
        </tr>
        <% area.rooms.forEach(function(room) { %>
          <tr>
            <td>
              <span class="primary-roboto-light-8-18"><%= room.room_id %></span>
            </td>
            <td>
              <span class="primary-roboto-light-8-18"><%= room.room_name %></span>
            </td>
            <td style="text-align: center">
              <span class="primary-roboto-light-8-18"><%= room.room_size %></span>
            </td>
            <td>
              <span class="primary-roboto-light-8-18">
                <% if (project.measurement_unit == 1) { %>
                  sq.ft.
                <% } else { %>
                  sq.m.
                <% } %>
              </span>
            </td>
            <td style="text-align: center">
              <span class="normal-roboto-light-8-18"><%= room.quantity %></span>
            </td>
            <td>
              <span class="primary-roboto-light-8-18"><%= room.total_size %></span>
            </td>
            <td >
              <span class="primary-roboto-light-8-18">
                <% if (project.measurement_unit == 1) { %>
                  sq.ft.
                <% } else { %>
                  sq.m.
                <% } %>
              </span>
            </td>
          </tr>
        <% }) %>
        <tr>
          <td colspan="4" class="border-bottom-box-shadow">
            <span class="primary-roboto-light-8-18"></span>
          </td>
          <td style="text-align: center" class="border-bottom-box-shadow">
            <span class="normal-roboto-bold-8-18 bold-400">Area Total</span>
          </td>
          <td class="border-bottom-box-shadow">
            <span class="primary-roboto-light-8-18 bold-400"><%= area.total_size %></span>
          </td>
          <td class="border-bottom-box-shadow">
            <span class="primary-roboto-light-8-18 bold-400">
              <% if (project.measurement_unit == 1) { %>
                sq.ft.
              <% } else { %>
                sq.m.
              <% } %>
            </span>
          </td>
        </tr>
          <% if (areaIndex == zone.areas.length - 1) { %>
            <% if (zoneIndex == zones.data.length - 1) { %>
              <tr><td style="height: 18px" colspan="7" class="border-bottom-box-shadow-bold"></td></tr>
            <% } else { %>
              <tr><td style="height: 18px" colspan="7"></td></tr>
            <% } %>
          <% } else { %>
            <tr><td style="height: 18px" colspan="7" class="border-bottom-box-shadow"></td></tr>
          <% } %>
      <% }) %>
    <% }) %>
    <tr class="primary-roboto-bold-8-18">
      <td
        colspan="4"
        class="border-bottom-box-shadow-bold"></td>
      <td
        style="text-align: center"
        class="border-bottom-box-shadow-bold uppercase">
        grand total
      </td>
      <td
        class="border-bottom-box-shadow-bold">
        <%= zones.total_size %>
      </td>
      <td
        class="border-bottom-box-shadow-bold">
        <% if (project.measurement_unit == 1) { %>
          sq.ft.
        <% } else { %>
          sq.m.
        <% } %>
      </td>
    </tr>
  </table>
</div>
