<div class="general-specification-content">
  <table width="100%" class="dynamic-table">
    <% data.forEach(function(item) { %>
      <tr>
        <td colspan="4" class="bg-black">
          <span
            style="padding-left: 8px"
            class="normal-roboto-bold-8-18 color-white uppercase"
            ><%= item.brand.name %></span
          >
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <span class="primary-roboto-bold-8-18"><%= item.location.business_name %></span>
        </td>
        <td colspan="2">
          <span class="primary-roboto-bold-8-18"><%= item.distributor.name %> </span>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <span class="primary-roboto-light-8-18">
            <% if (item.location.city_name) { %>
              <%= item.location.address %>,
            <% } else { %>
              Empty Address
            <% } %>
          </span>
        </td>
        <td colspan="2">
          <span class="primary-roboto-light-8-18">
            <% if (item.distributor.city_name) { %>
              <%= item.distributor.address %>,
            <% } else { %>
              Empty Address
            <% } %>
          </span>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <span class="primary-roboto-light-8-18">
            <% if (item.location.city_name) { %>
              <%= item.location.city_name %>,
            <% } %>
            <% if (item.location.country_name) { %>
              <%= item.location.country_name %>,
            <% } %>
            <%= item.location.postal_code %>
          </span>
        </td>
        <td colspan="2">
          <span class="primary-roboto-light-8-18">
            <% if (item.distributor.city_name) { %>
              <%= item.distributor.city_name %>,
            <% } %>
            <% if (item.distributor.country_name) { %>
              <%= item.distributor.country_name %>,
            <% } %>
            <%= item.distributor.postal_code %>
          </span>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <div style="width: 64px; display: inline-block; ">
            <span class="uppercase normal-garamond-light-8-12">contact</span>
          </div>
          <span class="primary-roboto-light-8-18"><%= item.location.contact.first_name %> <%= item.location.contact.last_name %></span>
        </td>
        <td colspan="2">
          <div style="width: 64px; display: inline-block; ">
            <span class="uppercase normal-garamond-light-8-12">contact</span>
          </div>
          <span class="primary-roboto-light-8-18"><%= item.distributor.contact.first_name %> <%= item.distributor.contact.last_name %></span>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <div style="width: 64px; display: inline-block; ">
            <span class="uppercase normal-garamond-light-8-12">work email</span>
          </div>
          <span class="primary-roboto-light-8-18"><%= item.location.contact.work_email %></span>
        </td>
        <td colspan="2">
          <div style="width: 64px; display: inline-block; ">
            <span class="uppercase normal-garamond-light-8-12">work email</span>
          </div>
          <span class="primary-roboto-light-8-18">
            <%= item.distributor.contact.email %>
          </span>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <div style="width: 64px; display: inline-block; ">
            <span class="uppercase normal-garamond-light-8-12">work phone</span>
          </div>
          <span class="primary-roboto-light-8-18">
            <% if (item.location.contact.work_phone !== 'N/A') { %>
              +<%= item.location.phone_code %>
            <% } %>
            <%= item.location.contact.work_phone %>
          </span>
        </td>
        <td colspan="2">
          <div style="width: 64px; display: inline-block; ">
            <span class="uppercase normal-garamond-light-8-12">work phone</span>
          </div>
          <span class="primary-roboto-light-8-18">
            <% if (item.distributor.contact.work_phone !== 'N/A') { %>
              +<%= item.distributor.phone_code %>
            <% } %>
            <%= item.distributor.contact.work_phone %>
          </span>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <div style="width: 64px; display: inline-block; ">
            <span class="uppercase normal-garamond-light-8-12">work mobile</span>
          </div>
          <span class="primary-roboto-light-8-18">
            <% if (item.location.contact.work_mobile !== 'N/A') { %>
              +<%= item.location.phone_code %>
            <% } %>
            <%= item.location.contact.work_mobile %>
          </span>
        </td>
        <td colspan="2">
          <div style="width: 64px; display: inline-block; ">
            <span class="uppercase normal-garamond-light-8-12">work mobile</span>
          </div>
          <span class="primary-roboto-light-8-18">
            <% if (item.distributor.contact.work_mobile !== 'N/A') { %>
              +<%= item.distributor.phone_code %>
            <% } %>
            <%= item.distributor.contact.work_mobile %>
          </span>
        </td>
      </tr>
      <tr class=""><td colspan="4" class="border-bottom-box-shadow"></td></tr>
      <tr style="height: 15px"></tr>

      <% item.data.forEach(function(groupData, index) { %>
        <tr>
          <td>
            <span  class="primary-roboto-light-8-18 uppercase"><%= groupData.material_code.code %></span>
          </td>
          <td colspan="2">
            <span  class="primary-roboto-light-8-18 uppercase"><%= groupData.material_code.description %></span>
          </td>
          <td style="width: 108px;">
            <span class="normal-garamond-light-8-12 uppercase">date</span>
            <span class="primary-roboto-light-8-18 uppercase"><%= groupData.specified_date %></span>
          </td>
        </tr>
        <tr><td class="border-bottom-box-shadow-bold" colspan="4"></td></tr>
        <tr>
          <td style="vertical-align:top" class="primary-roboto-light-8-18">
            <span class="uppercase normal-garamond-light-8-12">collection</span>
            <br />
            <span class="uppercase normal-garamond-light-8-12">specification</span>
          </td>
          <td style="vertical-align:top" class="primary-roboto-light-8-18">
            <span><%= groupData.product.collection.name %></span> <br />
            <span><%= groupData.product.description %></span> <br />
            <% groupData.options.forEach(function(option) { %>
              <span><%= option %></span> <br />
            <% }) %>
          </td>
          <td style="vertical-align:top" class="primary-roboto-light-8-18">
            <span class="normal-garamond-light-8-12 uppercase">id</span>
            <span style="margin-left: 8px"><%= groupData.product.sku_text %></span>
          </td>
          <td style="width: 108px;">
            <img style="width: 108px;height:108px" src="<%= groupData.productImage %>"></img>
          </td>
        </tr>
        <tr><td class="border-bottom-box-shadow" colspan="4"></td></tr>
        <tr>
          <td class="primary-roboto-light-8-18 ">
            <span class="normal-garamond-light-8-12 uppercase">order</span>
          </td>
          <td class="primary-roboto-light-8-18">
            <% if (groupData.order_method == 1) { %>
              <span>Custom Order</span>
            <% } else { %>
              <span>Direct Purchase</span>
            <% } %>
          </td>
          <td class="primary-roboto-light-8-18">
            <span class="uppercase normal-garamond-light-8-12" style="padding-right: 24px;">total qty</span>
            <span><%= groupData.quantity %><span style="margin-left:8px"><%= groupData.unitType %></span></span>
          </td>
          <td style="width: 108px;" class="primary-roboto-light-8-18">
            <span></span>
          </td>
        </tr>
        <tr><td class="border-bottom-box-shadow" colspan="4"></td></tr>
        <tr style="height: 15px"></tr>
      <% }) %>
    <% }) %>
  </table>
</div>
